---
layout: layouts/base.njk
---
<h1 class="section-title">Tags</h1>

<div class="tags-collection">
  {% for page in search.pages("type=tag", "tag") %}
    <a href="{{ page.data.url }}">{{ page.data.tag }}</a>
  {% endfor %}
</div>
