<section>
  {% for post in postslist %}
  <article class="posts">
    <h3 class="title"><a href="{{ post.data.url }}">{{ post.data.title }}</a></h3>
    <div class="summary">
      {{ post.data.content | truncate(160) | md | striptags(true) }}
    </div>
    <div class="meta">
      <time datetime="{{ post.data.date | date('DATETIME') }}">
        {{ post.data.date | date('HUMAN_DATE') }}
      </time>
      <div class="tags">
        {% for tag in post.data.tags %}
        {% set page = search.page("type=tag tag='" + tag + "'") %}
        {% if page %}
        <a href="{{ page.data.url  }}">{{ tag }}</a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </article>
  {% endfor %}
</section>