---
layout: layouts/base.njk
bodyClass: body-post
---
<link rel="stylesheet" href="/prism.css">
<link href="https://fontbit.io/css2?family=Source+Code+Pro:ital@0;1&display=swap" rel="stylesheet">
<section>
	<article class="post">
		<h2 class="title">{{ title }}</h2>
		<div class="meta">
			<time datetime="{{ date | date('DATETIME') }}">
        {{ date | date('HUMAN_DATE') }}
      </time>
			<div class="tags">
      {% for tag in tags %}
        <a href="/tags/{{ tag }}/">{{ tag }}</a>
      {% endfor %}
			</div>
		</div>
		<div class="content">
			{{ content | safe }}
      
      {%- if type == "posts" %}
        <hr>

        <nav>
          <ul>
            {%- set previousPost = search.previousPage(url, "type=posts") %}
            {%- if previousPost %}
            <li>
              <strong>← Previous</strong>
              <a href="{{ previousPost.data.url }}" rel="prev">{{ previousPost.data.title }}</a>
            </li>
            {% endif %}

            {%- set nextPost = search.nextPage(url, "type=posts") %}
            {%- if nextPost %}
            <li>
              <strong>Next →</strong>
              <a href="{{ nextPost.data.url }}" rel="next">{{ nextPost.data.title }}</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      {%- endif %}
		</div>
	</article>
</section>
