---
layout: layouts/base.njk
bodyClass: body-tag
---
<h1 class="section-title">Tagged “{{ tag }}”</h1>

{% set postslist = search.pages("'" + tag + "'") %}
{% include "templates/postslist.njk" %}

<div class="box">
	<p>See <a href="/tags/">all tags</a>.</p>
</div>
